﻿@model FizzBuzz.WebApp.Models.IndexModel


@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<body>
    <h1>Fizz Buzz</h1>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.Label("Please enter any positive Integer *")</td>
                <td>@Html.TextBoxFor(m => m.InputData, new { @type = "text" })</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
            <tr>
                <td>@Html.ValidationMessageFor(m => m.InputData, "", new { @class = "text-danger" })</td>
            </tr>

        </table>

        @if (Model != null && Model.Messages.Count > 0)
        {
            <h4>Output Message:</h4>
            <ul id="ulMessage">
                @foreach (var message in Model.Messages)
                {
                    <li>@message</li>
                }
            </ul>
            <table cellpadding="10" cellspacing="0">
                <tr>
                    @for (int count = 1; count <= Model.PageCount; count++)
                    {
                        <td>
                            @if (count != Model.CurrentPageIndex)
                            {
                                <a href="javascript:PagerClick(@count);">@count</a>
                            }
                            else
                            {
                                <span>@count</span>
                            }
                        </td>
                    }
                </tr>
            </table>
            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
        }
    }

    <script src="~/lib/jquery.min.js"></script>
    <script src="~/js/FizzBuzz.js"></script>
</body>
</html>